%h1 Dates
= link_to [:new, :dateslot], :class => "ui button tiny" do
  %i.add.icon
  New date
= link_to :overview, :class => "ui button tiny green" do
  %i.list.layout.icon
  Overview
%table.ui.table.segment
  %tr
    %th Activiteit
    %th Eerstvolgende datum
    %th Van
    %th Tot
    %th Link
  - @dateslots.each do |dateslot|
    %tr
      %td= dateslot.title
      %td= first_event(dateslot, dateslot.schedule)
      %td= dateslot.start_time.strftime("%H:%M")
      %td= dateslot.end_time.strftime("%H:%M")
      %td
        = link_to dateslot, :class => "mini ui button" do
          %i.info.icon
          Bekijk
        = link_to [:edit, dateslot], :class => "mini ui button" do
          %i.edit.icon
          Wijzig