.ui.breadcrumb
  = link_to "Dates", :dateslots
  %i.right.arrow.icon.divider
  .active.section Overview
%h1 Overview by month
%table.ui.table.segment
  %tr
    %th Activiteit
    %th Datum
    %th Van
    %th Tot
  - @dateslots.each do |date, events|
    - events.each do |event|
      %tr
        %td= link_to event.title, event
        %td= l(date, format: :full)
        %td= event.start_time.strftime("%H:%M")
        %td= event.end_time.strftime("%H:%M")
= will_paginate @dateslots

