.ui.breadcrumb
  = link_to "Dates", :dateslots
  %i.right.arrow.icon.divider
  .active.section= @dateslot.title

%h1= @dateslot.title
= link_to [:edit, @dateslot], :class => "ui button mini" do
  %i.edit.icon
  Wijzig
= link_to @dateslot, :method => :delete, :confirm => "Weet je zeker dat je deze activiteit wil verwijderen?", :class => "ui button mini red" do
  %i.remove.sign.icon
  Verwijder
%table.ui.collapsing.table.segment
  %thead
    %tr
      %th Datum
      %th Van
      %th Tot
  %tbody
    - if valid_schedule?(@dateslot.schedule)
      - @dateslot.converted_schedule.first(10).each do |e|
        %tr
          %td= l(e.to_date, format: :full)
          %td= @dateslot.start_time.strftime("%H:%M")
          %td= @dateslot.end_time.strftime("%H:%M")
    - else
      %tr
        %td= l(@dateslot.date, format: :full)
        %td= @dateslot.start_time.strftime("%H:%M")
        %td= @dateslot.end_time.strftime("%H:%M")
= link_to :dateslots, :class => "ui animated tiny button" do
  .visible.content Terug naar overzicht
  .hidden.content
    %i.left.arrow.icon